{% extends 'base.html' %} 
{% load static %} 

{% block body %}

<main class="principal principal-car">
    <section class="conta">
        <div class="conta__container">
            <div>
                <p style="padding: 1rem 0;" class="conta__titulos">
                    <a style="color: #f97114; font-size: 1.33rem;" href="{% url 'checkout' %}">Retornar para o Orçamento</a>
                </p>               
                <p class="conta__titulos">
                    Adicione um novo Endereço
                </p>               
            </div>
            <form
                class="conta__form"
                action="{% url 'adicionar_endereco' %}" method="post"
            >
                {% csrf_token %}
                <div class="conta__item">
                    <label for="">Cidade</label>
                    <input type="text" name="cidade" placeholder="Cidade" required>
                </div>
                <div class="conta__item">
                    <label for="">Estado</label>
                    <input type="text" name="estado" placeholder="Estado - Ex: GO" maxlength="2" required>
                </div>
                <div class="conta__item">
                    <label for="">Rua/Avenida</label>
                    <input type="text" name="rua" placeholder="Rua/Avenida" required>
                </div>
                <div class="conta__item">
                    <label for="">Número</label>
                    <input type="number" name="numero" placeholder="Número" required>
                </div>
                <div class="conta__item">
                    <label for="">Complemento</label>
                    <input type="text" name="complemento" placeholder="Complemento" required>
                </div>
                <div class="conta__item">
                    <label for="">CEP</label>
                    <input type="text" name="cep" placeholder="CEP *SOMENTE NÚMEROS" minlength="8" maxlength="8" pattern="[0-9]*" required>
                </div>
                
                <button class="conta__botao" type="submit">
                    Adicionar
                </button>
                <p style="font-size: 1.1rem;">* Em conformidade com o previso na Lei n.º 13.709/2018 (LGPD), ao clicar em 'Adicionar' eu autorizo a coleta e tratamento dos meus dados pessoais para os fins específicos de cadastro.</p>
            </form>             
        </div>   
    </section>
</main>

{% endblock %}
