{% extends 'base.html' %} 
{% load static %} 

{% block body %}

<h3>carrinho</h3>

{% if cliente_existente %}

<h4>Número orçamento: {{ orcamento.id }}</h4>
<h4>Total produtos: {{ orcamento.quantidade_total }}</h4>

{% for item in itens_orcamento %}

    <p>
        <img src="{{ item.item_estoque.produto.imagem.url }}" alt="Imagem produto - {{ item.item_estoque.produto.nome }}" width="50" height="50">
        Código: {{ item.item_estoque.produto.SKU }} ; 
        Descrição: {{ item.item_estoque.produto.nome }} ; 
        Cor: {{ item.item_estoque.cor.nome }} ; 
        <div style="display: flex;">
            Quantidade: 
            <form action="{% url 'remover_carrinho' item.item_estoque.produto.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="cor_selecionada" value="{{ item.item_estoque.cor.id }}">
                <input type="hidden" name="quantidade" value="1">
                <button type="submit">-</button>            
            </form>
            {{ item.quantidade }}
            <form action="{% url 'adicionar_carrinho' item.item_estoque.produto.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="cor_selecionada" value="{{ item.item_estoque.cor.id }}">
                <input type="hidden" name="quantidade" value="1">
                <button type="submit">+</button>            
            </form>
            <form action="{% url 'adicionar_carrinho' item.item_estoque.produto.id %}" method="post">
                {% csrf_token %}
                Adiciona Fardo/Volume? ({{ item.item_estoque.produto.fardo }} {{ item.item_estoque.produto.medida }})
                <input type="hidden" name="cor_selecionada" value="{{ item.item_estoque.cor.id }}">
                <input type="hidden" name="quantidade" value="{{ item.item_estoque.produto.fardo }}">
                <button type="submit">Adicionar ({{ item.item_estoque.produto.fardo }} {{ item.item_estoque.produto.medida }})</button>
            </form>
            <form action="{% url 'remover_carrinho' item.item_estoque.produto.id %}" method="post">
                {% csrf_token %}
                
                <input type="hidden" name="cor_selecionada" value="{{ item.item_estoque.cor.id }}">
                <input type="hidden" name="quantidade" value="{{ item.item_estoque.produto.fardo }}">
                <button type="submit">Remover ({{ item.item_estoque.produto.fardo }} {{ item.item_estoque.produto.medida }})</button>
            </form>
        </div>   
    </p>
    <hr>
    {% endfor %}
    <a href="{% url 'checkout' %}">Checkout</a>

{% else %}

    <h3>Seu carrinho está vazio</h3>
    <a href="{% url 'loja' %}">Visite nossa loja</a>

{% endif %}

{% endblock %}
