{% extends 'base.html' %} 
{% load static %} 

{% block body %}

<main class="principal principal-car">
    <section class="carrinho carrinho-gap">
        <div class="checkout">
            <div class="checkout__botao">
                <a href="{% url 'carrinho' %}" class="checkout__botao-car">
                    VOLTAR PARA CARRINHO
                </a>
            </div>
            <div class="checkout__totalprod-total">
                <div class="checkout__totalprod-total-norc">
                    <p>Nº Orçamento</p>
                    <p>{{ orcamento.id }}</p>
                </div>
                <div class="checkout__totalprod-total-torc">
                    <p>Quantidade Total</p>
                    <p>{{ orcamento.quantidade_total }}</p>
                </div>
                <div class="checkout__endereco">
                    <p>
                        Confirme qual endereço gostaria de usar no
                        Orçamento
                    </p>
                    <form action="{% url 'finalizar_orcamento' orcamento.id %}" method="post" onsubmit="showLoading()">
                        {% csrf_token %}
                        <div class="checkout__endereco-add" style="text-decoration: underline; text-decoration-color: #f97114; padding-bottom: 2rem;">
                            
                            <a href="{% url 'adicionar_endereco' %}"
                                ><i
                                    >Adicionar Endereço ao
                                    Orçamento</i
                                ></a
                            >
                            
                        </div>
                        <div class="checkout__endereco-radio" style="gap: 0;">
                            {% for endereco in enderecos %}
                            <div class="checkout__endereco-radio-check">
                                <input
                                type="radio" name="endereco" value = "{{ endereco.id }}"
                                />
                                <label for="{{ endereco.id }}">{{ endereco.cidade }} | {{ endereco.estado }} | {{ endereco.rua }} | {{ endereco.numero }} | {{ endereco.complemento }} | {{ endereco.cep }}</label
                                >
                            </div>
                            <br>
                            {% endfor %}
                        </div>
                        {% if erro %}

                        {% if erro == 'quantidade' %}

                        <div style="display: flex; justify-content: center;">
                            <p style="color: crimson; padding-top: 1rem; font-size: 1rem;">Divergência na Quantidade Total a ser enviado. Retornando ao Checkout...</p>
                        </div>

                        {% endif %}

                        {% if erro == 'endereco' %}

                        <div style="display: flex; justify-content: center;">
                            <p style="color: crimson; padding-top: 1rem; font-size: 1rem;">Selecione um endereço para finalizar o Orçamento.</p>
                        </div>

                        {% endif %}

                        {% endif %}
                        <div class="checkout__totalprod-adicionar">
                            <input type="hidden" name="total" value="{{ orcamento.quantidade_total }}">
                            <button class="conta__botao" type="submit"                              
                            >
                                Finalizar Orçamento
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <aside class="espera" id="loading">
        <div class="espera__container">
            <div class="espera__elefante">
                <img class="espera__elefante-img" src="{% static 'images/elef-anima.gif' %}" alt="">
            </div>
            <div class="espera__animacao">
                <div class="espera__animacao-texto">
                    <p>Carregando, aguarde...</p>
                </div>
                <div class="espera__animacao-gif">
                    
                </div>
            </div>
        </div>
    </aside>

    <script>
        function showLoading() {
            document.getElementById('loading').style.display = 'flex';
        }
    </script>

</main>

{% endblock %}
