{% extends 'base.html' %} 
{% load static %} 
{% block body %}

<main>
    <section class="carrossel">
        <div class="carrossel__botoes">
            <div class="carrossel__botao">
                <div class="carrossel__preenchimento"></div>
            </div>
            <div class="carrossel__botao">
                <div class="carrossel__preenchimento"></div>
            </div>
            <div class="carrossel__botao">
                <div class="carrossel__preenchimento"></div>
            </div>
        </div>
        <div class="carrossel__imagens">
            <div class="carrossel__item">
                <a href="{% url 'loja' %}metalfortesolucoes">
                    <img
                        src="{% static 'images/banner-energia-solar.webp' %}"
                        alt="Esrutura Solar"
                    />
                </a>
            </div>
            <div class="carrossel__item">
                <a href="{% url 'loja' %}">
                    <img
                        src="{% static 'images/banner-retira-na-hora.webp' %}"
                        alt="Retira na hora"
                    />
                </a>
            </div>
            <div class="carrossel__item">
                <a href="{% url 'loja' %}tubos">
                    <img
                        src="{% static 'images/banner-tubo-metalon.webp' %}"
                        alt="tubos"
                    />
                </a>
            </div>
        </div>
    </section>
    <section class="youtube">
        <iframe
            class="youtube--responsive"
            modestbranding="1"
            showinfo="0"
            loop="1"
            src="https://www.youtube.com/embed/acQUqCLDNo4?si=fukbZCrhDkZ5dvxl"
            title="Institucional Metalforte"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
        ></iframe>
    </section>
    <section class="banner-grid">
        <a href="{% url 'loja' %}tubos" class="banner-grid__imagem">
            <img
                src="{% static 'images/metalforte-tubos-scaled.webp' %}"
                alt="Desenho Tubo"
            />
            <p>tubos</p>
        </a>
        <a href="{% url 'loja' %}chapas" class="banner-grid__imagem">
            <img
                src="{% static 'images/metalforte-chapas-scaled.webp' %}"
                alt="Desenho Chapa"
            />
            <p>chapas</p>
        </a>
        <a href="{% url 'loja' %}corteedobra" class="banner-grid__imagem">
            <img
                src="{% static 'images/metalforte-corte-dobra-scaled.webp' %}"
                alt="Desenho Corte e Dobra"
            />
            <p>Corte e Dobra</p>
        </a>
        <a href="{% url 'loja' %}laminados" class="banner-grid__imagem">
            <img
                src="{% static 'images/metalforte-laminados-scaled.webp' %}"
                alt="Desenho Laminados"
            />
            <p>Laminados</p>
        </a>
        <a href="{% url 'loja' %}perfilados" class="banner-grid__imagem">
            <img
                src="{% static 'images/metalforte-perfil-scaled.webp' %}"
                alt="Desenho Perfil"
            />
            <p>Perfilados</p>
        </a>
        <a href="{% url 'loja' %}telhas" class="banner-grid__imagem">
            <img
                src="{% static 'images/metalforte-telhas-scaled.webp' %}"
                alt="Desenho Telhas"
            />
            <p>Telhas</p>
        </a>
    </section>
    <section class="youtube">
        <iframe
            class="youtube--responsive"
            modestbranding="1"
            showinfo="0"
            loop="1"
            src="https://www.youtube.com/embed/ylCo1MmYUNs?si=35iVTEDgql1LxYkx"
            title="Metalforte CASACOR 2024"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
        ></iframe>
    </section>
    <section class="banner-individual">
        <a href="{% url 'loja' %}metalfortesolucoes"
            ><img
                src="{% static 'images/banner-agro.webp' %}"
                alt="Banner agronegócio"
        /></a>
    </section>
    <aside class="popup">
        <div class="popup__container">
            <div class="popup__fechar"><p type="button">X</p></div>
            <div class="popup__titulo">
                <div class="popup__titulo-texto">
                    <p>Bem vindo ao NOVO site TIM<span>AÇO</span></p>
                </div>
                <div class="popup__titulo-corpo">
                    <img class="popup__titulo-img" src="{% static 'images/Logo-Metalforte-Secundaria-RGB.svg' %}" alt=""/>
                    <span>*Web Services - Orçamentos*</span>
                </div>
            </div>
            <div class="popup__corpo">
                <div class="popup__corpo-1">
                    <p>Toda família de produtos da <a href="{% url 'loja' %}"><span>Metalforte Metalúrgica</span></a> para você.</p>
                </div>
                <div class="popup__corpo-2">
                    <p><span>Cliente Metalforte?</span> Solicite uma nova senha em <a href="{% url 'password_reset' %}">Esqueci minha Senha</a> usando seu <span>e-mail cadastrado.</span></p>
                </div>
                <div class="popup__corpo-3">
                    <p>Navegue pelo site, conheça nossos produtos e <a href="{% url 'criar_conta' %}">Crie uma conta</a>!</p>
                </div>
            </div>

            <div class="popup__info">
                <div class="popup__info-meio">
                    <img class="popup__info-img" src="{% static 'images/Logo-Metalforte-Secundaria-RGB.svg' %}" alt=""/>
                    <p><span>Web Services</span></p>
                </div>
                <div class="popup__info-fim">
                    <p>O melhor do <span>Aço</span> para você!</p>
                </div>
            </div>
        </div>
    </aside>
    
    <script type="text/javascript" src="{% static 'js/popup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/carrossel.js' %}"></script>
    
</main>

{% endblock %}
