{% extends 'base.html' %} 
{% load static %} 
{% block body %}

<main>
    <section class="carrossel">
        <div class="carrossel__botoes">
            <div class="carrossel__botao">
                <div class="carrossel__preenchimento"></div>
            </div>
            <div class="carrossel__botao">
                <div class="carrossel__preenchimento"></div>
            </div>
            <div class="carrossel__botao">
                <div class="carrossel__preenchimento"></div>
            </div>
        </div>
        <div class="carrossel__imagens">
            <div class="carrossel__item">
                <a href="{% url 'loja' %}metalfortesolucoes">
                    <img
                        src="{% static 'images/banner-energia-solar.webp' %}"
                        alt="Esrutura Solar"
                    />
                </a>
            </div>
            <div class="carrossel__item">
                <a href="{% url 'loja' %}">
                    <img
                        src="{% static 'images/banner-retira-na-hora.webp' %}"
                        alt="Retira na hora"
                    />
                </a>
            </div>
            <div class="carrossel__item">
                <a href="{% url 'loja' %}tubos">
                    <img
                        src="{% static 'images/banner-tubo-metalon.webp' %}"
                        alt="tubos"
                    />
                </a>
            </div>
        </div>
    </section>
    <section class="youtube">
        <iframe
            class="youtube--responsive"
            modestbranding="1"
            showinfo="0"
            loop="1"
            src="https://www.youtube.com/embed/acQUqCLDNo4?si=fukbZCrhDkZ5dvxl"
            title="Institucional Metalforte"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
        ></iframe>
    </section>
    <section class="banner-grid">
        <a href="{% url 'loja' %}tubos" class="banner-grid__imagem">
            <img
                src="{% static 'images/metalforte-tubos-scaled.webp' %}"
                alt="Desenho Tubo"
            />
            <p>tubos</p>
        </a>
        <a href="{% url 'loja' %}chapas" class="banner-grid__imagem">
            <img
                src="{% static 'images/metalforte-chapas-scaled.webp' %}"
                alt="Desenho Chapa"
            />
            <p>chapas</p>
        </a>
        <a href="{% url 'loja' %}corteedobra" class="banner-grid__imagem">
            <img
                src="{% static 'images/metalforte-corte-dobra-scaled.webp' %}"
                alt="Desenho Corte e Dobra"
            />
            <p>Corte e Dobra</p>
        </a>
        <a href="{% url 'loja' %}laminados" class="banner-grid__imagem">
            <img
                src="{% static 'images/metalforte-laminados-scaled.webp' %}"
                alt="Desenho Laminados"
            />
            <p>Laminados</p>
        </a>
        <a href="{% url 'loja' %}perfilados" class="banner-grid__imagem">
            <img
                src="{% static 'images/metalforte-perfil-scaled.webp' %}"
                alt="Desenho Perfil"
            />
            <p>Perfilados</p>
        </a>
        <a href="{% url 'loja' %}telhas" class="banner-grid__imagem">
            <img
                src="{% static 'images/metalforte-telhas-scaled.webp' %}"
                alt="Desenho Telhas"
            />
            <p>Telhas</p>
        </a>
    </section>
    <section class="youtube">
        <iframe
            class="youtube--responsive"
            modestbranding="1"
            showinfo="0"
            loop="1"
            src="https://www.youtube.com/embed/ylCo1MmYUNs?si=35iVTEDgql1LxYkx"
            title="Metalforte CASACOR 2024"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
        ></iframe>
    </section>
    <section class="banner-individual">
        <a href="{% url 'loja' %}metalfortesolucoes"
            ><img
                src="{% static 'images/banner-agro.webp' %}"
                alt="Banner agronegócio"
        /></a>
    </section>
</main>

{% endblock %}
