{% load static %}

<footer class="rodape">
    <section class="rodape__newsletter">
        <div class="rodape__container-newsletter">
            <div class="rodape__redes">
                <div class="rodape__rede">
                    <a
                        href="https://www.linkedin.com/company/metalforte/"
                    >
                        <img
                            src="{% static 'images/linkedin-logo.png' %}"
                            alt="Logo LinkedIN"
                        />
                    </a>
                </div>
                <div class="rodape__rede">
                    <a href="https://facebook.com/metalforteofc"
                        ><img
                            src="{% static 'images/fb-logo.png' %}"
                            alt="Logo Facebook"
                    /></a>
                </div>
                <div class="rodape__rede">
                    <a href="https://www.youtube.com/@metalforteoficial"
                        ><img
                            src="{% static 'images/yt-logo.png' %}"
                            alt="Logo You Tube"
                    /></a>
                </div>
                <div class="rodape__rede">
                    <a href="https://instagram.com/metalforteoficial">
                        <img
                            src="{% static 'images/insta-logo.png' %}"
                            alt="Logo Instagram"
                        />
                    </a>
                </div>
                <div class="rodape__rede">
                    <a href="#">
                        <img
                            src="{% static 'images/x-logo1.png' %}"
                            alt="Logo X(ex-Twitter)"
                        />
                    </a>
                </div>
            </div>
            <div class="rodape__newsletter-inscricao">
                <img
                    class="rodape__logo"
                    src="{% static 'images/logo-solo.svg' %}"
                    alt=""
                />
                <p class="rodape__texto-newsletter">
                    Assine nossa Newsletter
                </p>
                <p class="rodape__texto">
                    Cadastre-se, receba promoções
                    <span>exclusivas</span> e saiba tudo antes de todo
                    mundo! Venha para o mundo tim<span>AÇO</span>!
                </p>
            </div>
            <form class="formulario" action="">
                <input
                    class="formulario__input"
                    type="email"
                    name="email"
                    placeholder="Digite o seu e-mail"
                />
                <input
                    class="formulario__input"
                    type="text"
                    name="name"
                    placeholder="Digite o seu Nome"
                />
                <button class="formulario__botao" type="submit">
                    Cadastrar
                </button>
            </form>
        </div>
        <div class="rodape__contrata">
            <a href="#">
                <img
                    class="rodape__contrata--img"
                    src="{% static 'images/banner-trabalhe-conosco.webp' %}"
                    alt="Banner Trabalhe Conosco"
                />
            </a>
        </div>
    </section>

    <section class="rodape__secao-informacoes">
        <div class="rodape__container">
            <div class="rodape__informacoes">
                <div class="rodape__informacao">
                    <p class="rodape__titulo-informacao">
                        Sobre a Metalforte
                    </p>
                    <ul class="rodape__links">
                        <li>
                            <a
                                href="https://www.metalforte.com.br/metalforte/"
                                >História Metalforte</a
                            >
                        </li>
                        <li>
                            <a href="#">Parcerias Metalforte</a>
                        </li>
                        <li>
                            <a href="#">Nossas Unidades</a>
                        </li>
                        <li>
                            <a href="#">Mapa de Categorias</a>
                        </li>
                    </ul>
                </div>
                <div class="rodape__informacao">
                    <p class="rodape__titulo-informacao">
                        tim<span>aço</span> Metalforte
                    </p>
                    <ul class="rodape__links">
                        <li>
                            <a href="#">Trabalhe Conosco</a>
                        </li>
                        <li>
                            <a
                                class="rodape__links--whats"
                                href="https://wa.me/62992386584?text=Olá,%20Gostaria%20de%20receber%20informações"
                                >WhatsApp Metalforte
                                <img
                                    class="rodape__links--zap"
                                    src="{% static 'images/whatsapp-brands-solid.svg' %}"
                                    alt="Logo WhatsApp"
                            /></a>
                            <p class="rodape__links--horario">
                                Segunda a Sexta: 08h às 18h
                            </p>
                            <p class="rodape__links--horario">
                                Sábado: 08h às 12h
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="rodape__informacao">
                    <p class="rodape__titulo-informacao">Minha Conta</p>
                    <ul class="rodape__links">
                        <li>
                            <a href="#">Editar Dados</a>
                        </li>
                        <li>
                            <a href="#">Meus Orçamentos</a>
                        </li>
                        <li>
                            <a href="#">Meu Carrinho</a>
                        </li>
                    </ul>
                </div>
                <div class="rodape__informacao">
                    <p class="rodape__titulo-informacao">Suporte</p>
                    <ul class="rodape__links">
                        <li>
                            <a href="#">Política de Privacidade</a>
                        </li>
                        <li>
                            <a href="#">Termos de Uso</a>
                        </li>
                        <li>
                            <a href="#">Dúvidas Frequentes</a>
                        </li>
                        <li>
                            <a href="#">Trocas e Devoluções</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="rodape__atendimento">
                <div class="rodape__ancoras">
                    <div class="rodape__ancoras--empresa">
                        <p class="rodape__titulo">
                            Atendimento e Retirada Loja BR-153
                        </p>
                        <p class="rodape__links--horario">
                            Segunda a Sexta: 08h às 18h
                        </p>
                        <p class="rodape__links--horario">
                            Sábado: 08h às 12h
                        </p>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3820.8570582458497!2d-49.24668922409171!3d-16.73398254679414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935efa80e479a145%3A0xc50e2525874469db!2sMetalforte!5e0!3m2!1spt-BR!2sbr!4v1729530335440!5m2!1spt-BR!2sbr"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                        ></iframe>
                    </div>
                    <p class="rodape__ancoras-p">|</p>
                    <div class="rodape__ancoras--empresa">
                        <p class="rodape__titulo">
                            Atendimento e Retirada CD Polo Goiás
                        </p>
                        <p class="rodape__links--horario">
                            Segunda a Sexta: 07h às 23h
                        </p>
                        <p class="rodape__links--horario">
                            Sábado: Fechado
                        </p>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3819.753817016781!2d-49.25296832409035!3d-16.788919348231264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ef089fc576889%3A0xb7d41556444cb091!2sMetalforte%20Ind%C3%BAstria%20Metal%C3%BArgica!5e0!3m2!1spt-BR!2sbr!4v1729530425093!5m2!1spt-BR!2sbr"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="rodape__parceiros">
            <div class="rodape__parceiros-imagens">
                <img
                    src="{% static 'images/logo-arcelor.png' %}"
                    alt="Logo ArcelorMittal"
                />
                <img src="{% static 'images/csn.png' %}" alt="Logo CSN" />
                <img src="{% static 'images/gerdau.png' %}" alt="Logo Gerdau" />
                <img
                    src="{% static 'images/logo-resol-sitemenor.png' %}"
                    alt="Logo Resol"
                />
                <img src="{% static 'images/stam-fechaduras.svg' %}" alt="Logo Stam" />
                <img src="{% static 'images/tyrolit-logo.svg' %}" alt="Logo Tyrolit" />
                <img src="{% static 'images/usiminas.png' %}" alt="Logo Usiminas" />
            </div>
        </div>
    </section>
    <section class="rodape__secao-empresa">
        <div class="rodape__secao-empresa--metalforte">
            <p>
                METALFORTE INDUSTRIA METALURGICA LTDA | CNPJ:
                02.109.049/0001-02 | RODOVIA BR-153 SN QUADRA70-A LOTE
                001-E KM 08 - Vila Brasilia - Aparecida de Goiânia |
                cep: 74911-410 - go
            </p>
        </div>
        <div class="rodape__secao-empresa--grammar">
            <p>
                <a href="https://www.linkedin.com/in/rodrigogoiania/"
                    >Desenvolvido por: Grammar Tecnologia</a
                >
            </p>
        </div>
    </section>
</footer>