{% extends 'base.html' %} 
{% load static %} 

{% block body %}

<main class="principal principal--gap">
    <section class="s-produto">
        <div class="s-produto__carrossel">
            <div class="s-produto__carrossel-itens">
                {% for foto in produto.imagem.all %}
                <div class="s-produto__carrossel-img">
                    <img
                        src="{{ foto.imagem.url }}"
                        alt="Img Produtos"
                    />
                </div>
                {% endfor %}
            </div>
            <div class="s-produto__carrossel-botoes">
                <div class="s-produto__carrossel-botao"></div>
                <div class="s-produto__carrossel-botao"></div>
                <div class="s-produto__carrossel-botao"></div>
                <div class="s-produto__carrossel-botao"></div>
            </div>
        </div>
        <div class="s-produto__informacoes">
            <div class="s-produto__breadcrumbs">
                <span><a href="{% url 'homepage' %}">Home</a></span>
                <span><a href="{% url 'loja' %}">Loja</a></span>
                <span><a href="{% url 'loja' %}{{ produto.categoria.slug }}">{{ produto.categoria.nome }}</a></span>
                <span><a href="{% url 'loja' %}{{ produto.categoria.slug }}-{{ produto.grupo.slug }}">{{ produto.grupo.nome }} </a></span>
                <span>
                    <p>{{ produto.nome }}</p>
                </span>
            </div>
            <div class="produto__infos">
                <h1 class="s-produto__titulo">
                    Produto: {{ produto.nome }} - Cod: {{ produto.SKU }}
                </h1>
                <div class="s-produto__cor">                                    
                    <div class="s-produto__cores">
                        <div style="display: flex; gap: 20px; align-items: center;">
                            {% for cor in cores %}
                                <p style="font-size: 24px;">Selecione a Cor (<i>obrigatório</i>): </p>
                                <a href="{% url 'ver_produto' produto.id cor.id %}"
                                    class="s-produto__cores-item s-produto__cores-item--selecionado"
                                    style="background-color: {{ cor.codigo }};"
                            
                                >
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <form action="{% url 'adicionar_carrinho' produto.id %}" method="post">   
                {% csrf_token %}
                {% if cor_selecionada %}
                <input type="radio" name="cor_selecionada" value = "{{ cor_selecionada.nome }}">
                <label class="s-produto__cor-nome" style="font-size: 20px;" for="{{ cor_selecionada.nome }}"> Cor: <b>{{ cor_selecionada.nome }}</b></label>
                <input type="hidden" name="cor_selecionada" value="{{ cor_selecionada.id }}">
                {% endif %}
                <button class="s-produto__adicionar" type="submit">Adicionar ao Orçamento</button>
            </form>
            <div class="s-produto__descricao">
                <p class="s-produto__descricao-titulo">
                    descrição do produto
                </p>
                <div class="s-produto__descricao-textos">
                    <p>
                        {{ produto.texto }}
                    </p>
                    <div class="s-produto__descricao-textos-encomenda">
                        <p
                            class="s-produto__descricao-textos-encomenda-solicitar"
                        >
                            <span
                                >GOSTARIA DE SOLICITAR UM MATERIAL SOB
                                ENCOMENDA?</span
                            >
                        </p>
                        <div
                            class="s-produto__descricao-textos-encomenda-clique"
                        >
                            <a href="{% url 'loja' 'metalfortesolucoes' %}"
                                ><div
                                    class="s-produto__descricao-textos-encomenda-clique-1"
                                >
                                    <p
                                        class="s-produto__descricao-textos-encomenda-clique-2"
                                    >
                                        Conheça nossa Categoria:
                                    </p>
                                    <p
                                        class="s-produto__descricao-textos-encomenda-clique-2"
                                    >
                                        Metalforte Soluções
                                    </p>
                                    <span
                                        class="s-produto__descricao-textos-encomenda-clique-3"
                                        >></span
                                    >
                                    <span
                                        class="s-produto__descricao-textos-encomenda-clique-4"
                                        >V</span
                                    >
                                    <p
                                        class="s-produto__descricao-textos-encomenda-clique-2"
                                    >
                                        Material Sob Encomenda
                                    </p>
                                </div></a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if similares %}
    <section class="similares">
        <h2 class="similares__titulo">
            Gostou deste Produto? Veja itens similares
        </h2>
        <div class="similares__container">
            {% for similar in similares %}
            <a href="{% url 'ver_produto' similar.id %}" class="produto">
                <div class="produto__imagem">
                    {% if similar.imagem.all %}
                    <img
                        src="{{ similar.imagem.all.0.imagem.url }}"
                        alt="Foto {{ similar.nome }}"
                    />
                    {% else %}
                    <p>Imagem não disponível.</p>
                    {% endif %}
                </div>
                <div class="produto__textos">
                    <p class="produto__titulo">
                        {{ similar.nome }}
                    </p>
                    <p class="produto__codigo">Código: {{ similar.SKU }}</p>
                </div>
            </a>
           {% endfor %}
        </div>
    </section>
    {% endif %}
</main>

<script type="text/javascript" src="{% static 'js/produto.js' %}"></script>

{% endblock %}
