{% extends 'base.html' %} 
{% load static %} 

{% block body %}

<main class="principal principal-car">
    <section class="conta">
        <div class="conta__container">
            <div>
                <p style="padding-bottom: 1rem;" class="conta__titulos"><a style="color: #f97114;" href="{% url 'minha_conta' %}">Minha Conta</a></p>
                <p class="conta__titulos">Meus Orçamentos <span class="pedido__orcamento">(Aperte para expandir)</span></p>
            </div>
            {% for orcamento in orcamentos %}
            <div class="pedido">
                <div class="pedido__cabecalho">
                    <div>
                        <p><b>Data</b></p>
                        <p>{{ orcamento.data_finalizacao }}</p>
                    </div>

                    <div>
                        <p><b>ID Orçamento</b></p>
                        <p>{{ orcamento.id }}</p>
                    </div>

                    <div>
                        <p><b>Autenticador</b></p>
                        <p>{{ orcamento.codigo_orcamento }}</p>
                    </div>
                    <div>
                        <p><b>Endereço</b></p>
                        <p>{{ orcamento.endereco.cep }}, {{ orcamento.endereco.cidade }}, {{ orcamento.endereco.estado }}</p>
                    </div>
                    <div>
                        <p><b>Total Produtos</b></p>
                        <p>{{ orcamento.quantidade_total }}</p>
                    </div>
                </div>

                <div class="pedido__corpo">
                    {% for item in orcamento.itens %}
                    <div class="tabela__produto">
                        {% if item.item_estoque.produto.imagem.all %}
                        <img
                            class="tabela__img"
                            src="{{ item.item_estoque.produto.imagem.all.0.imagem.url }}"
                            alt="Imagem {{ item.item_estoque.produto.nome }}"
                        />
                        {% endif %}
                        <div class="tabela__produto-mo">
                            <div class="tabela__produto-textos">
                                <p>Código: <span>{{ item.item_estoque.produto.SKU }}</span></p>
                                <p>
                                    {{ item.item_estoque.produto.nome }}
                                </p>
                                <p>Cor: <span>{{ item.item_estoque.cor.nome }}</span></p>
                            </div>
                            <div class="tabela__produto-textos">
                                <p>Quantidade: <span>{{ item.quantidade }}</span></p>
                            </div>
                            
                            
                        </div>
                    </div>
                    {% endfor %}
                    <a style="color: #f97114;" href="{% url 'exportar_formulario' orcamento.id %}">Baixar Orçamento PDF</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <script type="text/javascript" src="{% static 'js/orcamento.js' %}"></script>
</main>

{% endblock %}
