{% extends 'base.html' %} 
{% load static %} 

{% block body %}

<main class="principal principal-car">
    <section class="conta">
        <div class="conta__container">
            <div>
                <p style="padding-bottom: 1rem;" class="conta__titulos">
                    <a style="color: #f97114;" href="{% url 'meus_orcamentos' %}">Meus Orçamentos</a>
                </p>
                <p style="padding-bottom: 1rem;" class="conta__titulos">
                    <a style="color: #f97114;" href="{% url 'fazer_logout' %}">Sair da Conta</a>
                </p>
                <p class="conta__titulos">
                    Alterar Dados Pessoa Física/Jurídica
                </p>
                {% if alterado %}

                    <p style="color: darkgreen; padding-top: 1rem;">Alterações salvas com sucesso</p>

                {% endif %}

                {% if erro == "email_existente" %}

                    <p style="color: crimson; padding-top: 1rem;">Já existe um e-mail cadastrado. Tente novamente.</p>
    
                {% endif %}
    
                {% if erro == "formulario_invalido" %}
    
                    <p style="color: crimson; padding-top: 1rem;">Formulário inválido. Tente novamente.</p>
    
                {% endif %}
            </div>
            <form
                class="conta__form"
                action="{% url 'minha_conta' %}"
                method="post"
            >
                {% csrf_token %}
                <div class="conta__item">
                    <label for="">Nome Completo</label>
                    <input type="text" name="nome" placeholder="Nome Completo" minlength="5" maxlength="50" value="{{ request.user.cliente.nome }}" required >
                </div>

                <div class="conta__item">
                    <label for="">CPF/CNPJ</label>
                    <input type="text" name="cnpjcpf" placeholder="CNPJ/CPF *SOMENTE NÚMEROS*" maxlength="14" minlength="11" pattern="[0-9]*" value="{{ request.user.cliente.cnpj }}" required>
                </div>

                <div class="conta__item conta__item--email">
                    <label for="">Razão Social</label>
                    <input type="text" name="razaosocial" placeholder="Razão Social (se CPF, repetir Nome Completo)" minlength="5" maxlength="50" value="{{ request.user.cliente.razaosocial }}" required>
                </div>

                <div class="conta__item">
                    <label for="">E-mail</label>
                    <input type="email" name="email" placeholder="Email" required value="{{ request.user.email }}" >
                </div>

                <div class="conta__item">
                    <label for="">Telefone</label>
                    <input type="tel" name="telefone" placeholder="WhatsApp ou Fixo com DDD (ex. 62)" maxlength="11" minlength="10" title="Formato 62999999999 ou 6233333333" pattern="[0-9]*" value="{{ request.user.cliente.telefone }}" required>
                </div>

                <button class="conta__botao" type="submit">
                    Salvar alterações
                </button>
            </form>                     
        </div>
        <div class="conta__container">
            <div>
                <p class="conta__titulos">Alterar Senha</p>
                {% if alterado %}

                    <p style="color: darkgreen; padding-top: 1rem;">Alterações salvas com sucesso</p>

                {% endif %}             
                {% if erro == "senha_incorreta" %}

                    <p style="color: crimson; padding-top: 1rem;">Senha atual incorreta. Tente novamente.</p>

                {% endif %}
                {% if erro == "senhas_divergentes" %}

                    <p style="color: crimson; padding-top: 1rem;">Nova Senha diferente da Confirmação Nova Senha. Tente novamente.</p>

                {% endif %}
            </div>
            <form
                class="conta__form"
                action="{% url 'minha_conta' %}"
                method="post"
            >
                {% csrf_token %}
                <div class="conta__item conta__item--email">
                    <label for="">Senha Atual</label>
                    <input type="password" name="senha_atual" placeholder="Senha Atual">
                </div>

                <div class="conta__item conta__item--email">
                    <label for="">Nova Senha</label>
                    <input type="password" name="nova_senha" placeholder="Nova Senha">
                </div>

                <div class="conta__item conta__item--email">
                    <label for=""
                        >Confirmação Nova Senha</label
                    >
                    <input type="password" name="nova_senha_confirmacao" placeholder="Repita Nova Senha">
                </div>

                <button class="conta__botao" type="submit">
                    Salvar senha
                </button>
            </form>          
        </div>
    </section>
</main>

{% endblock %}
